body {
    margin: auto;
    width: 1200px;
    font-family: 'Vollkorn', sans-serif;
}

h2, a {
    color: #72aeb4;
}

h2 {
    font-size: 20px;
}

main {
    margin-left: 50px;
}

img {
    border: 2px solid #DCDADA;
    float: left;
    width: 300px;
    height: 150px;
    padding: 10px;
    margin-right: 30px;
}

p {
    word-break: break-word;
}

span {
    font-style: italic;
}