@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'),
    local('OpenSans-Regular'),
    url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    background-color: #1D211E;
    color: #FFF;
    text-align: center;
}

nav {
    margin-top: 50px;
    background-color: #E67C1F;
}

ul {
    list-style-type: none;
    position: relative;
}

li {
    display: inline-block;
    background-color: #e67c1f;
}

a {
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

a:hover {
    background-color: #000000;
}

.drop-down-web, .drop-down-tut {
    display: none;
    position: absolute;
}

nav ul li:hover > ul {
    display: inline-block;
}

.drop-down-web-items, .drop-down-tut-items {
    width: 170px;
    position: relative;
    display: block;
}

.drop-down-tut-items {
    position: relative;
    top: -61px;
    left: 45px;
}

#web-design::after, #tutorial::after {
    content: ' +';
}