@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Open Sans ExtraBold'),
    local('OpenSans-ExtraBold'),
    url(fonts/OpenSans-ExtraBold.ttf) format('truetype');
}

body {
    background-color: #F0F0E8;
    font-family: 'OpenSans-ExtraBold', Helvetica, sans-serif;
    font-size: 16px;
    color: #787F85;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 900;
}

header h1 {
    font-size: 56px;
    color: #009288;
}

article {
    display: inline-block;
    width: 200px;
    padding: 0 25px;
    margin: 25px auto;
    border-left: 10px solid transparent;
}

article:hover {
    background-color: #F6F6F6;
    border-left: 10px solid #009288;
}