@media all and (max-width: 959px) {

    body #wrapper {
        width: 100%;
    }
}

@media all and (max-width: 779px) {

    body #wrapper > header h1 {
        font-size: 2em;
    }

    body #wrapper > header h1 a {
        justify-content: flex-start;
    }

    body #wrapper > header nav ul {
        justify-content: center;
    }

    body #wrapper > header nav ul li {
        width: 23%;
    }
}

@media all and (max-width: 639px) {

    body #wrapper > header h1 {
        text-align: center;
    }

    body #wrapper > header h1 a,
    body #wrapper > header h1 a span,
    body #wrapper > header nav ul,
    body #wrapper > header nav ul li {
        display: block;
    }

    body #wrapper > header nav ul li {
        width: 90%;
        margin: 0 auto;
    }

    body #wrapper > section {
        width: 100%;
    }

    body #wrapper > aside {
        width: 100%;
        display: flex;
    }

    body #wrapper > aside div {
        width: 50%;
    }
}

@media all and (max-width: 479px) {

    body #wrapper > aside {
        width: 100%;
        display: block;
    }

    body #wrapper > aside div {
        width: 100%;
    }
}