body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #234465;
    min-width: 800px;
    min-height: 400px
}

.flat-anim {
    display: block;
    width: 264px;
    height: 265px;
    background-color: #ECF0F1;
    border-radius: 42px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -132px 0 0 -132px;
}

.flat-anim:before {
    content: '';
    background-color: #E67E22;
    width: 26px;
    height: 26px;
    border-radius: 26px;
    position: absolute;
    top: 19px;
    left: 19px;
}

.flat-anim:after {
    content: '';
    background-color: #68B5F1;
    width: 48px;
    height: 24px;
    border-radius: 10px;
    position: absolute;
    top: 17px;
    right: 22px;
}

.bottom {
    width: 264px;
    height: 112px;
    display: block;
    z-index: 10;
    background-color: #E67E22;
    border-radius: 0 0 38px 38px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 15px solid #DD660E;
    -webkit-box-shadow: inset 0 -20px 0 0 #DB640E;
}

.bottom:before {
    content: '';
    background-color: #282E3A;
    width: 140px;
    height: 30px;
    display: block;
    margin: 14px auto 0 auto;
}

.bottom:after {
    content: '';
    position: absolute;
    top: 30px;
    left: 84px;
    width: 96px;
    height: 40px;
    display: block;
    background-color: #ECF0F1;
    -webkit-box-shadow: 0 14px 0 0 #DB640E,
    0 -16px 0 0 #C3D1DD;
    -moz-box-shadow: 0 14px 0 0 #DB640E,
    0 -16px 0 0 #C3D1DD;
    box-shadow: 0 14px 0 0 #DB640E,
    0 -16px 0 0 #C3D1DD;
}

.eye {
    width: 37px;
    height: 37px;
    border-radius: 37px;
    background-color: #243E6E;
    display: block;
    margin: 60px auto 0;
    z-index: 20;
    position: relative;
    -webkit-box-shadow: 0 0 0 22px #3E5489,
    0 0 0 30px #1C3666,
    0 0 0 45px #ECF0F1,
    0 10px 0 45px rgba(0, 0, 0, 0.2);
}

.eye:before {
    content: '';
    background-color: #A3BFD5;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    top: -16px;
    left: -16px;
}

.eye:after {
    content: '';
    background-color: #6078A3;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    position: absolute;
    top: 30px;
    left: 30px;
}

@-webkit-keyframes flatAnimation {

    0% {
        transform: rotate(0deg) scale(1);
    }

    13% {
        transform: rotate(45deg) scale(0.5);
    }

    20% {
        transform: rotate(-20deg) scale(1.1);
    }

    95% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

@-webkit-keyframes eyeAnimation {

    0% {
        transform: scale(0);
    }

    12% {
        transform: scale(0);
    }

    13% {
        transform: scale(1);
    }

    20% {
        transform: scale(1);
    }

    25% {
        transform: scale(1);
    }

    95% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes bottomAnimation {

    0% {
        width: 0;
    }

    20% {

        width: 0;
    }

    21% {
        width: 0;
    }

    22% {
        width: 0;
    }

    25% {
        width: 140px;
    }

    26% {
        width: 140px;
    }

    95% {
        width: 140px;
    }

    96% {
        width: 140px;
    }

    100% {
        width: 140px;
    }
}

@-webkit-keyframes bottomAfterAnimation {

    0% {
        height: 0;
    }

    25% {
        height: 0;
    }

    26% {
        height: 0;
    }

    26% {
        height: 40px;
    }

    28% {
        height: 40px;
    }

    28% {
        height: 40px;
    }

    95% {
        height: 40px;
    }

    100% {
        height: 40px;
    }
}

.flat-anim {
    animation: flatAnimation 3s linear;
    animation-delay: 2s;
}

.eye,
.flat-anim:before,
.flat-anim:after {
    animation: eyeAnimation 3s linear;
    animation-delay: 2s;
}

.bottom:before {
    animation: bottomAnimation 3s linear;
    animation-delay: 2s;
}

.bottom:after {
    animation: bottomAfterAnimation 3s linear;
    animation-delay: 2s;
}